body { margin: 0; overflow: hidden; }

#youtubePlayer {
        position: absolute;
        top: 10px;
        left: 10px;
        display: none;
        z-index: 1;
    }
    #description {
        position: absolute;
        top: 320px; /* Just below the YouTube player */
        left: 10px;
        width: 460px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: 'Noto Sans', Arial, sans-serif;
        z-index: 2;
        display: none;
    }

    #descriptionTitle {
        background-color: rgba(255, 255, 255, 0.2); /* 반투명 배경 */
        padding: 5px;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
            border-left: 2px solid #fff; /* 좌측 하이라이트 */
            border-bottom: 3px solid #777777; /* 하단 그림자 */
            border-right: 3px solid #777; /* 우측 그림자 */
        font-weight: bold;
        font-size: 20px;
        color: #fff; /* 텍스트 색상 */
    }
    
    #descriptionBody {
        background-color: rgba(255, 255, 255, 0.1); /* 더 연한 반투명 배경 */
        padding: 5px;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
            border-left: 2px solid #fff; /* 좌측 하이라이트 */
            border-bottom: 3px solid #777777; /* 하단 그림자 */
            border-right: 3px solid #777; /* 우측 그림자 */
        font-size: 16px;
        color: #fff;
        line-height: 1.7; /* 가독성을 위한 줄 간격 */
    }
    
#playerButton {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 30px;
        font-family: 'Noto Sans', Arial, sans-serif;
        color: #ffffff;
        z-index: 10;
        padding: 10px;
        font-weight: 900; /*타이틀*/
        }
    #modal {
            position: absolute; /* 커서 위치에 따라 조정 가능 */
            display: none; /* 기본적으로 숨김 */
            font-family: Arial, sans-serif;
            line-height: 1.4;
            height: 120px;
            width: 300px; /* 모달의 총 너비를 조정 (원하는 값으로 변경 가능) */
            z-index: 20;
            background-color: initial;
            border-top: 2px solid #fff; /* 상단 하이라이트 */
            border-left: 2px solid #fff; /* 좌측 하이라이트 */
            border-bottom: 3px solid #777777; /* 하단 그림자 */
            border-right: 3px solid #777; /* 우측 그림자 */
            padding: 10px 20px;
            color: #fff;
            font-size: 16px;
        }

#labels {
    position: absolute;
    bottom: 40px;
    right: 20px; /* 오른쪽에 위치 */
    width: 40px; /* 고정된 너비 */
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Noto Sans', Arial, sans-serif;
    line-height: 1.3;
    z-index: 2;
    font-weight: 500;
    text-align: left; /* 내부 텍스트 좌측 정렬 */
}

.cursor, .cursor-outline {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%); /* 중심으로 이동 */
    
}


.cursor {
    width: 14px;
    height: 14px;
    background-color: white;
    z-index: 3;
}

.cursor-outline {
    width: 50px;
    height: 50px;
    z-index: 2;
    border: 2px dashed rgba(255, 255, 255, 0.7);
    transition: border-style 1s ease; /* 애니메이션 추가 */    
}
.cursor-outline.hover {
    border-style: solid;
}

.cursor-expand {
    animation: shrinkFade 0.05s forwards; /* 애니메이션 지속 시간과 상태 유지 */
}

#restartView {
    width: 40px;
    height: 40px;
    margin: 5px 0; /* 버튼 간격 */
    font-size: 20px;
    font-weight: bold;
    background-color: initial;
    color: rgb(255, 255, 255);
    border-top: 2px solid #fff; /* 상단 하이라이트 */
    border-left: 2px solid #fff; /* 좌측 하이라이트 */
    border-bottom: 3px solid #777777; /* 하단 그림자 */
    border-right: 3px solid #777; /* 우측 그림자 */
    cursor: pointer;
}
    #restartView:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

#zoomButtons {
    margin-bottom: 10px; /* 라벨 컨테이너 아래 여백 */
    display: flex;
    flex-direction: column; /* 버튼을 세로로 배치 */
    align-items: flex-end; /* 오른쪽 정렬 */
}
#playStopButton {
    position: absolute;
    bottom: 60px;
    left: 50%; /* 가로 중앙 */
    transform: translateX(-50%); 
    padding: 10px;
    z-index: 2;
    font-size: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff42;
    color: rgb(197, 197, 197);
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
    cursor: pointer;
    text-align: center; /* 가로 중앙 정렬 */
    line-height: 16px; /* 버튼 높이와 동일하게 설정 */
}

#playStopButton:hover {
    background-color: rgba(255, 255, 255, 0.574);
}


#zoomButtons button {
    width: 40px;
    height: 40px;
    margin: 5px 0; /* 버튼 간격 */
    font-size: 20px;
    font-weight: bold;
    background-color: initial;
    color: rgb(255, 255, 255);
    border-top: 2px solid #fff; /* 상단 하이라이트 */
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
    cursor: pointer;
}

#zoomButtons button:hover {
    background-color: rgba(255, 255, 255, 0.4)
}

    #resetModal {
        position: absolute;
        display: none; /* 기본적으로 숨김 */
        width: 42px; /* 크기 고정 */
        height: 16px; /* 내용에 따라 높이 조정 */
        font-family: Arial, sans-serif;
        line-height: 1.4;
        z-index: 9999; /* 항상 위에 표시 */
        padding: 10px;
        color: #fff;
        border-top: 2px solid #fff; /* 상단 하이라이트 */
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
        font-size: 14px;
        pointer-events: none; /* 모달과의 상호작용 방지 */
        text-align: left; /* 텍스트 정렬 */
    }
#copyright {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(69, 69, 69, 0.7);
        padding: 4px 4px;
        color: rgb(99, 99, 99);
        font-size: 8px;
        font-family: Arial, sans-serif;
        z-index: 2;
        cursor: pointer;
    }
    #footerModal {
        position: absolute;
        display: none; /* 기본적으로 숨김 */
        font-family: Arial, sans-serif;
        line-height: 1.4;
        max-width: 300px; /* 너비 제한 */
        z-index: 9999; /* 항상 위에 표시 */
        border-top: 2px solid #fff; /* 상단 하이라이트 */
        border-left: 2px solid #fff; /* 좌측 하이라이트 */
        border-bottom: 3px solid #777777; /* 하단 그림자 */
        border-right: 3px solid #777; /* 우측 그림자 */
        padding: 10px;
        color: #fff;
        font-size: 14px;
        pointer-events: none; /* 모달과의 상호작용 방지 */
    }